<div layout="column" layout-fill>

    <!-- menu -->
    <md-toolbar flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-svg-icon="update"></md-icon>
                Updates
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear ng-if="!ctl.loading" md-mode="determinate"></md-progress-linear>
    <md-progress-linear ng-if="ctl.loading" md-mode="indeterminate"></md-progress-linear>

    <!-- page content -->
    <md-content layout-padding>

        <!-- current versions -->
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon md-svg-icon="information-outline"></md-icon>
                        Installed versions
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item layout-padding>
                        <p>Last check for updates made on {{ctl.lastcheck | hrDatetime}}</p>
                        <md-icon class="md-secondary" ng-click="ctl.checkUpdates()" md-svg-icon="refresh">
                            <md-tooltip md-direction="left">Check for updates</md-tooltip>
                        </md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item layout"row" layout-padding>
                        <div flex="50">
                            <span>CleepDesktop version {{ctl.cleepdesktopStatus.version}} is installed</span>
                        </div>
                        <div ng-if="ctl.cleepdesktopStatus.status===1 || ctl.cleepdesktopStatus.status===2" flex="20" style="text-align:right;">
                            <span ng-if="ctl.cleepdesktopStatus.status===1 && ctl.cleepdesktopStatus.downloadpercent===null">Downloading update</span>
                            <span ng-if="ctl.cleepdesktopStatus.status===1 && ctl.cleepdesktopStatus.downloadpercent!==null">Downloading update ({{ctl.cleepdesktopStatus.downloadpercent}})</span>
                            <span ng-if="ctl.cleepdesktopStatus.status===2">Installing update</span>
                        </div>
                        <div ng-if="ctl.cleepdesktopStatus.status===1 || ctl.cleepdesktopStatus.status===2" flex>
                            <md-progress-linear ng-if="ctl.cleepdesktopStatus.downloadpercent!==null" md-mode="determinate" class="md-accent" value="{{ctl.cleepdesktopStatus.downloadpercent}}"></md-progress-linear>
                            <md-progress-linear ng-if="ctl.cleepdesktopStatus.downloadpercent===null" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                        </div>
                        <div ng-if="ctl.cleepdesktopStatus.status===4" flex>
                            <span>Update failed (</span>
                            <span ng-if="ctl.cleepdesktopStatus.downloadstatus===3">internal error</span>
                            <span ng-if="ctl.cleepdesktopStatus.downloadstatus===4">invalid file size</span>
                            <span ng-if="ctl.cleepdesktopStatus.downloadstatus===5">downloaded file is corrupted</span>
                            <span ng-if="ctl.cleepdesktopStatus.downloadstatus===6">network error</span>
                            <span>)</span>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item layout="row" layout-padding>
                        <div flex="40">
                            <span ng-if="ctl.etcherStatus.version!==null">Etcher version {{ctl.etcherStatus.version}} is installed</span>
                            <span ng-if="ctl.etcherStatus.version===null">Etcher is not installed</span>
                        </div>
                        <div ng-if="ctl.etcherStatus.status===1 || ctl.etcherStatus.status===2" flex="20" style="text-align:right;">
                            <span ng-if="ctl.etcherStatus.status===1">Downloading update ({{ctl.etcherStatus.downloadpercent}}%)</span>
                            <span ng-if="ctl.etcherStatus.status===2">Installing update</span>
                        </div>
                        <div ng-if="ctl.etcherStatus.status===1 || ctl.etcherStatus.status===2" flex>
                            <md-progress-linear md-mode="determinate" class="md-accent" value="{{ctl.etcherStatus.downloadpercent}}"></md-progress-linear>
                        </div>
                        <div ng-if="ctl.etcherStatus.status===4" flex>
                            <span>Update failed (</span>
                            <span ng-if="ctl.etcherStatus.downloadstatus===3">internal error</span>
                            <span ng-if="ctl.etcherStatus.downloadstatus===4">invalid file size</span>
                            <span ng-if="ctl.etcherStatus.downloadstatus===5">downloaded file is corrupted</span>
                            <span ng-if="ctl.etcherStatus.downloadstatus===6">network error</span>
                            <span ng-if="ctl.etcherStatus.downloadstatus===7">internal error</span>
                            <span>)</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </md-content>

</div>

