<div layout="column" layout-fill>

    <!-- menu -->
    <md-toolbar flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-svg-icon="update"></md-icon>
                Updates
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear ng-if="!ctl.loading" md-mode="determinate" value="100"></md-progress-linear>
    <md-progress-linear ng-if="ctl.loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>

    <!-- page content -->
    <md-content layout-padding>

        <!-- current versions -->
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon md-svg-icon="information-outline"></md-icon>
                        Installed versions
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>

                    <!-- update -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p>Last check for updates made on {{ctl.updateService.lastUpdateCheck | hrDatetime}}</p>
                        <md-button
                            class="md-secondary md-raised md-primary"
                            ng-click="ctl.checkForUpdates()"
                            ng-disabled="ctl.loading || ctl.updateService.cleepdesktopStatus.restartrequired"
                        >
                            <md-icon md-svg-icon="refresh"></md-icon>
                            Check updates
                        </md-button>
                    
                        <!-- application restart -->
                        <div class="md-secondary" ng-if="ctl.updateService.restartRequired">
                            <span>Please restart CleepDesktop to install latest update</span>
                        </div>
                        <md-button
                            class="md-secondary md-raised md-accent"
                            ng-click="ctl.restartApplication()"
                            ng-if="ctl.cleepdesktopStatus.restartrequired"
                        >
                            <md-icon md-svg-icon="restart"></md-icon>
                            Restart
                        </md-button>
                    </md-list-item>

                    <!-- cleepdesktop -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p>CleepDesktop v{{ ctl.updateService.softwareVersions.cleepDesktop }} is installed</p>
                        <div class="md-secondary" ng-if="ctl.updateService.cleepDesktopUpdate.error">
                            Error: {{ctl.updateService.cleepDesktopUpdate.error}}
                        </div>
                        <div
                            class="md-secondary"
                            ng-if="ctl.updateService.cleepDesktopUpdate.percent>=0 && !ctl.updateService.cleepDesktopUpdate.error"
                        >
                            <div>
                                {{ ctl.updateService.cleepDesktopUpdate.message }}
                            </div>
                            
                            <md-progress-linear ng-if="ctl.updateService.cleepDesktopUpdate.percent===0"
                                md-mode="indeterminate" style="width: 250px;" class="md-accent">
                            </md-progress-linear>
                            <md-progress-linear ng-if="ctl.updateService.cleepDesktopUpdate.percent>0"
                                md-mode="determinate" style="width: 250px;" class="md-accent"
                                value="{{ctl.updateService.cleepDesktopUpdate.percent}}">
                            </md-progress-linear>
                        </div>
                        <!-- changelog -->
                        <md-button
                            class="md-secondary md-raised md-primary"
                            ng-click="ctl.openChangelog()"
                        >
                            <md-icon md-svg-icon="notebook"></md-icon>
                            Changelog
                        </md-button>
                    </md-list-item>

                    <!-- flash-tool -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p ng-if="ctl.updateService.softwareVersions.flashTool">
                            Flash tool version v{{ ctl.updateService.softwareVersions.flashTool }} is installed
                        </p>
                        <p ng-if="!ctl.updateService.softwareVersions.flashTool">
                            Flash tool is not installed. Click on "Check updates" button to install.
                        </p>
                        <div class="md-secondary" ng-if="ctl.updateService.flashToolUpdate.error">
                            Error: {{ ctl.updateService.flashToolUpdate.error }}
                        </div>
                        <div
                            class="md-secondary"
                            ng-if="ctl.updateService.flashToolUpdate.percent>=0 && !ctl.updateService.flashToolUpdate.error"
                        >
                            <div>
                                {{ ctl.updateService.flashToolUpdate.message }}
                            </div>
                            <md-progress-linear ng-if="ctl.updateService.flashToolUpdate.percent===0"
                                style="width: 250px;" md-mode="indeterminate" class="md-accent">
                            </md-progress-linear>
                            <md-progress-linear ng-if="ctl.updateService.flashToolUpdate.percent>0"
                                style="width: 250px;" md-mode="determinate" class="md-accent"
                                value="{{ctl.updateService.flashToolUpdate.percent}}">
                            </md-progress-linear>
                        </div>
                    </md-list-item>

                    <!-- cleepbus -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p ng-if="ctl.updateService.softwareVersions.cleepbus">
                            Cleepbus version v{{ ctl.updateService.softwareVersions.cleepbus }} is installed
                        </p>
                        <p ng-if="!ctl.updateService.softwareVersions.cleepbus">
                            Cleepbus is not installed. Click on "Check updates" button to install.
                        </p>
                        <div class="md-secondary" ng-if="ctl.updateService.cleepbusUpdate.error">
                            Error: {{ctl.updateService.cleepbusUpdate.error}}
                        </div>
                        <div
                            class="md-secondary"
                            ng-if="ctl.updateService.cleepbusUpdate.percent>=0 && !ctl.updateService.cleepbusUpdate.error"
                        >
                            <div>
                                {{ ctl.updateService.cleepbusUpdate.message }}
                            </div>
                            
                            <md-progress-linear ng-if="ctl.updateService.cleepbusUpdate.percent===0"
                                style="width: 250px;" md-mode="indeterminate" class="md-accent">
                            </md-progress-linear>
                            <md-progress-linear ng-if="ctl.updateService.cleepbusUpdate.percent>=0"
                                style="width: 250px;" md-mode="determinate" class="md-accent"
                                value="{{ctl.updateService.cleepbusUpdate.percent}}">
                            </md-progress-linear>
                        </div>
                    </md-list-item>

                </md-list>
            </md-card-content>
        </md-card>

    </md-content>

</div>

