<md-dialog aria-label="Preferences" ng-cloak flex="80">
<form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Preferences</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctl.closeModal()">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="height:600px;">
        <md-tabs layout-fill>

            <!-- general -->
            <md-tab label="General" layout-padding>
                <!-- locale --> 
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <md-icon md-svg-icon="web"></md-icon>
                                Language
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item>
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <p>Prefered language</p>
                                <md-select ng-model="ctl.config.cleep.locale" aria-label="Language">
                                    <md-option value="en">English</md-option>
                                </md-select>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
            
            <!-- cache -->
            <md-tab label="Cache" layout-padding>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <md-icon md-svg-icon="folder-open"></md-icon>
                                Downloaded files
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" layout-align="center center" ng-if="ctl.cacheds.length==0">
                            <span>No file cached</span>
                        </div>
                        <md-list>
                            <md-list-item ng-repeat="cached in ctl.cacheds">
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <p>{{cached.filename}} ({{cached.filesize | hrBytes}})</p>
                                <md-icon class="md-secondary" ng-click="ctl.purgeCacheFile(cached.filename)" aria-label="Delete" md-svg-icon="delete"></md-icon>
                            </md-list-item>
                        </md-list>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="ctl.purgeCachedFiles()" ng-disabled="ctl.cacheds.length==0">Clear all cached files</md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </md-tab>

            <!-- advanced -->
            <md-tab label="Advanced" layout-padding>

                <!-- iso raspbian -->
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <md-icon md-svg-icon="download"></md-icon>
                                Installation files
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item>
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <p>Include latest Raspbian versions in installer</p>
                                <md-switch class="md-secondary" ng-model="ctl.config.cleep.isoraspbian" aria-label="Raspbian"></md-switch>
                            </md-list-item>
                            <md-list-item>
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <p>Allow local iso flashing</p>
                                <md-switch class="md-secondary" ng-model="ctl.config.cleep.isolocal" aria-label="Local"></md-switch>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <!-- debug/troubleshoot -->
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <md-icon md-svg-icon="bug"></md-icon>
                                Debug
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-2-line">
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <div class="md-list-item-text">
                                    <h3>Send crash report (no personal information are sent to our server!).</h3>
                                    <p>This software is open-source and enabling crash report will help us improving the application.</p>
                                </div>
                                <md-switch class="md-secondary" ng-model="ctl.config.cleep.crashreport" aria-label="Debug"></md-switch>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <div class="md-list-item-text">
                                    <h3>Enable debug mode</h3>
                                    <p>Enabling debug mode add more messages in application log file. This is useful to report a problem.</p>
                                </div>
                                <md-switch class="md-secondary" ng-model="ctl.config.cleep.debug" aria-label="Debug"></md-switch>
                            </md-list-item>
                            <md-list-item ng-click="ctl.openLogs()">
                                <md-icon md-svg-icon="chevron-right"></md-icon>
                                <p>Open logs file</p>
                                <md-button class="md-icon-button md-secondary" aria-label="Open logs" ng-click="ctl.openLogs()">
                                    <md-icon md-svg-icon="file"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </md-tab>

        </md-tabs>

    </md-dialog-content>
</form>
</md-dialog>
