<div layout="column" layout-fill>

    <!-- menu -->
    <md-toolbar flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-font-set="material-icons">settings</md-icon>
                Preferences
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="determinate"></md-progress-linear>

    <md-content>

        <!-- tabs -->
        <md-nav-bar md-selected-nav-item="ctl.pref" nav-bar-aria-label="Preferences">
            <md-nav-item md-nav-click="goto('general')" name="general">General</md-nav-item>
            <md-nav-item md-nav-click="goto('network')" name="network">Network</md-nav-item>
            <md-nav-item md-nav-click="goto('advanced')" name="advanced">Advanced</md-nav-item>
        </md-nav-bar>

        <!-- restart required -->
        <div layout="row" layout-align="end center" class="md-caption" style="padding-top:8px; padding-right:16px;">
            <span style="color:red">*</span>&nbsp;restart is required
        </div>

        <!-- general -->
        <div ng-if="ctl.pref=='general'" layout-padding>
            <!-- locale --> 
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-font-set="material-icons">language</md-icon>
                            Language
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <p>Prefered language <span style="color:red">*</span></p>
                            <md-select ng-model="ctl.config.cleep.locale" aria-label="Language">
                                <md-option value="en">English</md-option>
                            </md-select>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

        <!-- network -->
        <div ng-if="ctl.pref=='network'" layout-padding>
            <!-- proxy -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-font-set="material-icons">settings_ethernet</md-icon>
                            Proxy settings
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item ng-click="ctl.updateProxyMode('noproxy')">
                            <p>Direct connection (no proxy)<span style="color:red">*</span></p>
                            <md-checkbox class="md-secondary" ng-model="ctl.noproxy" ng-click="ctl.updateProxyMode('noproxy')" aria-label="No proxy"></md-checkbox>
                        </md-list-item>
                        <md-list-item ng-click="ctl.updateProxyMode('manualproxy')">
                            <p>Manual proxy<span style="color:red">*</span></p>
                            <md-checkbox class="md-secondary" ng-model="ctl.manualproxy" ng-click="ctl.updateProxyMode('manualproxy')" aria-label="Manual proxy"></md-checkbox>
                        </md-list-item>
                        <div ng-if="ctl.manualproxy">
                            <md-input-container class="md-block" style="margin-left:15px; margin-right:15px;">
                                <label>Proxy ip</label>
                                <input ng-model="ctl.config.proxy.host" ng-disabled="ctl.proxyMode=='noproxy'">
                            </md-input-container>
                            <md-input-container class="md-block" style="margin-left:15px; margin-right:15px;">
                                <label>Proxy port</label>
                                <input type="number" ng-model="ctl.config.proxy.port" ng-disabled="ctl.proxyMode=='noproxy'">
                            </md-input-container>
                        </div>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

        <!-- advanced -->
        <div ng-if="ctl.pref=='advanced'" layout-padding>
            <!-- iso raspbian -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-font-set="material-icons">file_download</md-icon>
                            Installation files
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <p>Include latest Raspbian versions in installable versions</p>
                            <md-switch ng-model="ctl.config.cleep.isoraspbian" aria-label="Raspbian"></md-switch>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

    </md-content>

</div>

