/* default href */
a {
    color: rgb(244, 67, 54);
    text-decoration: none;
}

/* bullet */
md-icon.bullet {
    font-size:14px;
    margin-left:10px;
    margin-top:8px;
}

/* default source code */
code {
    padding: 3px;
    background-color: rgba(205, 205, 205, 0.45);
    border-radius: 3px;
}

/* note */
span.note code {
    font-size: 0.85em;
}

div.note {
    line-height: 25px;
    font-size: 0.95em;
    margin: 10px 5px 10px 5px;
    padding: 15px;
    background-color: rgba(205, 205, 205, 0.45);
    border-radius: 5px;
}

div.note-info {
    background-color: rgb(76, 175, 80);
    color: white;
}

div.note-warning {
    background-color: rgb(255, 152, 0);
}

div.note-important {
    background-color: rgb(244, 67, 54);
    color: white;
}

/* toast */
md-toast.error .md-toast-content {
    background: #E53935;
    color: #FFFFFF;
}

md-toast.warning .md-toast-content {
    background: #EF6C00;
    color: #FFFFFF;
}

md-toast.success .md-toast-content {
    background: #43A047;
    color: #FFFFFF;
}

md-toast.info .md-toast-content {
    background: #2196F3;
    color: #FFFFFF;
}

