<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>

    <key>CFBundleDevelopmentRegion</key>
    <string>France</string>

    <key>CFBundleExecutable</key>
    <string>CleepDesktop</string>

    <key>CFBundleIconFile</key>
    <string>resources/icon.icns</string>

    <key>CFBundleIdentifier</key>
    <string>com.cleep.cleepdesktop</string>

    <key>CFBundleName</key>
    <string>CleepDesktop</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>0.0</string>

    <key>CFBundleSignature</key>
    <string>cleep</string>

    <key>LSRequiresCarbon</key>
    <true/>

    <key>LSUIElement</key>
    <false/>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSRequiresAquaSystemAppearance</key>
    <false/>
</dict>
</plist>
