<div layout="column" layout-fill>

    <!-- menu -->
    <md-toolbar flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-svg-icon="message-text-outline"></md-icon>
                Devices messages monitoring
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="determinate"></md-progress-linear>

    <!-- page content -->
    <md-content layout-padding>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon class="rounded-icon" md-svg-icon="message-text"></md-icon>
                        Messages received from devices
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <!-- no message -->
                <div layout="row" ng-if="ctl.monitoring.messages.length===0" layout-align="start center">
                    <span style="padding: 30px 0px 30px;">
                        This area will display messages received from your devices during current session. When CleepDesktop is closed, all messages are lost.
                        <br><br>
                        For now your devices have not published any message.
                    </span>
                </div>

                <!-- messages list -->
                <md-list ng-if="ctl.monitoring.messages.length>0">
                    <md-list-item>
                        <p></p>
                        <md-button class="md-secondary md-primary" ng-click="ctl.monitoring.clearMessages()">
                            <md-icon md-svg-icon="delete-outline"></md-icon>
                            Clear messages
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-repeat="message in ctl.monitoring.messages" class="md-2-line" ng-click="ctl.toggleEventDetails(message)">
                        <md-icon md-svg-icon="message-text"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{message.peer_infos.hostname}} [{{message.peer_infos.ip}}]: {{message.event}}</h3>
                            <p ng-if="message.params" ng-bind="message.params"></p>
                        </div>
                        <md-button class="md-secondary" ng-click="null">{{message.timestamp | hrDatetime}}</md-button>
                    </md-list-item>
                </md-list>

            </md-card-content>
        </md-card>

    </md-content>

    <!-- message content -->
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar flex="initial">
            <div class="md-toolbar-tools">
                <h2>
                    Message content
                </h2>
                <span flex></span>
                <md-button ng-click="ctl.closeEventDetails()" class="md-icon-button">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <pre>{{ctl.selectedMessage | json}}</pre>
        </md-content>
    </md-sidenav>

</div>

