<html>
<head>
    <title>CleepDesktop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/roboto-fonts.css">
    <link rel="stylesheet" href="css/angular-material.min.css"/>
    <link rel="stylesheet" href="css/materialicons.css"/>
    <link rel="stylesheet" href="css/cleep.css"/>
</head>
<body ng-app="Cleep" layout-fill ng-cloak>

    <md-content ng-controller="cleepController as cleep" layout-fill layout="row">

        <!-- tools panel -->
        <md-content
            style="background-color:#607d8b; overflow-x:hidden;"
            ng-style="{'width':(cleep.toolbarCollapsed ? '60px' : '250px')}"
            class="panel-separator"
            layout="column"
        >
            <md-list class="toolbar" style="padding-top:0px;">

                <md-list-item ng-click="cleep.toggleToolbar()" aria-label="Toggle toolbar">
                    <md-icon md-svg-icon="chevron-double-right" class="white-icon" ng-if="cleep.toolbarCollapsed"></md-icon>
                    <md-icon md-svg-icon="chevron-double-left" class="white-icon" ng-if="!cleep.toolbarCollapsed"></md-icon>
                    <p></p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item ng-click="cleep.openPage('default')" aria-label="Homepage" title="Homepage" title="Homepage">
                    <md-icon md-svg-icon="home-outline" ng-class="cleep.selectedToolbarItem=='default' ? 'md-accent' : 'white-icon'"></md-icon>
                    <p style="color:white;" ng-if="!cleep.toolbarCollapsed">Homepage</p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item ng-click="cleep.openPage('installAuto')" aria-label="Install Cleep" title="Install">
                    <md-icon md-svg-icon="sd" ng-class="cleep.selectedToolbarItem=='installAuto' ? 'md-accent' : 'white-icon'"></md-icon>
                    <p style="color:white;" ng-if="!cleep.toolbarCollapsed">Cleep install</p>
                </md-list-item>

                <md-divider></md-divider>
                
                <md-list-item ng-click="cleep.openPage('monitoring')" aria-label="Monitoring" title="Monitoring">
                    <md-icon md-svg-icon="message-text-outline" ng-class="cleep.selectedToolbarItem=='monitoring' ? 'md-accent' : 'white-icon'"></md-icon>
                    <p style="color:white;" ng-if="!cleep.toolbarCollapsed">Monitoring</p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item ng-click="cleep.openModal('preferencesController', 'js/preferences/preferences-dialog.html')" aria-label="Preferences" title="Preferences">
                    <md-icon class="white-icon" md-svg-icon="settings"></md-icon>
                    <p style="color:white;" ng-if="!cleep.toolbarCollapsed">Preferences</p>
                </md-list-item>

            </md-list>
        </md-content>

        <!-- devices panel -->
        <div ng-controller="devicesController as ctl" style="width:300px;" layout-fill class="panel-separator">

            <!-- toolbar -->
            <div md-colors="::{background: 'primary-500'}" class="toolbar-content" layout="row" layout-align="start center">
                <div class="toolbar-spacer"></div>
                <div layout="row" layout-align="left center">
                    <md-icon style="color:white;" md-svg-icon="cellphone"></md-icon>
                    <h1 style="padding-left:5px;" class="md-title">Cleep devices</h1>
                </div>
            </div>
            <!-- not used , just to mimic raspiot layout -->
            <md-progress-linear md-mode="determinate" value="100"></md-progress-linear>

            <md-content>
                <!-- loader -->
                <div layout="column" layout-align="center center" ng-if="ctl.devicesService.loading">
                    <div>
                        <br/><br/><br/>
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        <br/><br/><br/>
                    </div>
                </div>

                <!-- no network -->
                <div layout="column"
                    layout-padding
                    layout-align="center center"
                    ng-if="!ctl.devicesService.isConnected"
                >
                    <div style="padding-top:20px;">
                        <md-icon md-svg-icon="close-network-outline"></md-icon>
                        Can't connect to Cleep network.<br>
                    </div>
                    <div>
                        You won't see your devices.
                    </div>
                </div>

                <!-- no device -->
                <div
                    layout="column"
                    layout-padding
                    layout-align="center center"
                    ng-if="!ctl.devicesService.loading && ctl.devicesService.devices.length==0 && ctl.devicesService.isConnected"
                >
                    <div style="padding-top:20px;">
                        No device found...
                    </div>
                    <div>
                        <md-button class="md-raised md-primary" ng-click="ctl.openInstallPage()">
                            <md-icon md-svg-icon="plus-circle"></md-icon>
                            Install new device
                        </md-button>
                    </div>
                </div>

                <!-- unconfigured devices -->
                <div
                    ng-if="!ctl.devicesService.loading && ctl.devicesService.unconfigured>0 && ctl.devicesService.isConnected"
                    md-colors="::{background: 'primary-300'}"
                    class="toolbar-content"
                    layout="row"
                    layout-align="start center"
                >
                    <div class="toolbar-spacer"></div>
                    <div layout="row" layout-align="left center">
                        <h1 style="padding-left:5px;" class="md-title">Unconfigured devices</h1>
                    </div>
                </div>
                <md-list
                    ng-if="!ctl.devicesService.loading && ctl.devicesService.unconfigured>0 && ctl.devicesService.isConnected"
                    style="padding:0px;"
                >
                    <md-list-item
                        ng-repeat="device in ctl.devicesService.devices | filter: { extra: { configured: false } }"
                        ng-if="ctl.devicesService.unconfigured>0"
                        ng-click="ctl.openDevicePage(device)"
                        md-colors="device.selected ? {background: 'accent-100'} : {background: 'background'}"
                    >
                        <md-icon ng-if="device.online" md-svg-icon="cellphone-link" class="icon-margin"></md-icon>
                        <md-icon ng-if="!device.online" md-svg-icon="cellphone-link-off" class="icon-margin md-accent"></md-icon>
                        <p>{{device.hostname}}</p>
                        <md-menu class="md-secondary">
                            <md-button class="md-icon-button" ng-click="ctl.openDeviceMenu($mdMenu, $event)">
                                <md-icon md-svg-icon="dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button
                                        aria-label="Device infos"
                                        ng-click="cleep.openModal('deviceDetailsController', 'js/device/details-dialog.html', device)"
                                    >
                                        <md-icon md-svg-icon="information-outline"></md-icon>
                                        Device infos
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="device.selected">
                                    <md-button
                                        aria-label="Reload device page"
                                        ng-click="ctl.reloadDevicePage(device)"
                                    >
                                        <md-icon md-svg-icon="information-outline"></md-icon>
                                        Reload device page
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button aria-label="Delete device" ng-click="ctl.deleteDevice(device)">
                                        <md-icon md-svg-icon="delete"></md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>

                <!-- configured devices -->
                <div
                    ng-if="!ctl.devicesService.loading && ctl.devicesService.devices.length>0 && ctl.devicesService.isConnected"
                    md-colors="::{background: 'primary-300'}"
                    class="toolbar-content"
                    layout="row"
                    layout-align="start center"
                >
                    <div class="toolbar-spacer"></div>
                    <div layout="row" layout-align="left center">
                        <h1 style="padding-left:5px;" class="md-title">Configured devices</h1>
                    </div>
                </div>
                <md-list
                    ng-if="!ctl.devicesService.loading && ctl.devicesService.devices.length>0 && ctl.devicesService.isConnected"
                    style="padding:0px;"
                >
                    <md-list-item
                        ng-repeat="device in ctl.devicesService.devices | filter: { extra: { configured: true } }"
                        ng-click="ctl.openDevicePage(device)"
                        md-colors="device.selected ? {background: 'accent-100'} : {background: 'background'}"
                    >
                        <md-icon ng-if="device.online" md-svg-icon="cellphone-link" class="icon-margin"></md-icon>
                        <md-icon ng-if="!device.online" md-svg-icon="cellphone-link-off" class="icon-margin md-accent"></md-icon>
                        <p>{{device.hostname}}</p>
                        <md-menu class="md-secondary">
                            <md-button class="md-icon-button" ng-click="ctl.openDeviceMenu($mdMenu, $event)">
                                <md-icon md-svg-icon="dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button
                                        aria-label="Device infos"
                                        ng-click="cleep.openModal('deviceDetailsController', 'js/device/details-dialog.html', device)"
                                    >
                                        <md-icon md-svg-icon="information-outline"></md-icon>
                                        Device infos
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="device.selected">
                                    <md-button
                                        aria-label="Reload device page"
                                        ng-click="ctl.reloadDevicePage(device)"
                                    >
                                        <md-icon md-svg-icon="reload"></md-icon>
                                        Reload device page
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button aria-label="Delete device" ng-click="ctl.deleteDevice(device)">
                                        <md-icon md-svg-icon="delete"></md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>

            </md-content>
        </div>

        <!-- dynamic content -->
        <div flex layout-fill>
            <div ui-view></div>
        </div>

    </md-content>

    <!-- system -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/angular-messages.min.js"></script>
    <script src="js/libs/angular-aria.min.js"></script>
    <script src="js/libs/angular-sanitize.min.js"></script>
    <script src="js/libs/angular-material.min.js"></script>
    <script src="js/libs/angular-ui-router.min.js"></script>
    <script src="js/libs/angular-websocket.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <!-- application -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/services/electron.service.js"></script>
    <script src="js/services/toast.service.js"></script>
    <script src="js/services/cleep.js"></script>
    <script src="js/services/settings.js"></script>
    <script src="js/services/debounce.service.js"></script>
    <script src="js/services/confirm.service.js"></script>
    <script src="js/services/taskspanel.js"></script>
    <script src="js/services/modal.service.js"></script>
    <script src="js/services/update.service.js"></script>
    <script src="js/services/install.js"></script>
    <script src="js/services/devices.js"></script>
    <script src="js/services/device.js"></script>
    <script src="js/services/download.service.js"></script>
    <script src="js/services/monitoring.js"></script>
    <script src="js/services/logger.js"></script>
    <script src="js/updates/updates.controller.js"></script>
    <script src="js/preferences/preferences.js"></script>
    <script src="js/install/install.js"></script>
    <script src="js/install/iso.js"></script>
    <script src="js/install/drive.js"></script>
    <script src="js/install/wifi.js"></script>
    <script src="js/device/device.js"></script>
    <script src="js/device/devices.js"></script>
    <script src="js/device/details.js"></script>
    <script src="js/monitoring/monitoring.js"></script>
    <script src="js/about/about.js"></script>

</body>
</html>
