<div layout="column" layout-fill>

    <!-- menu -->
    <md-toolbar flex="initial">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-svg-icon="sd"></md-icon>
                Manual Cleep installation
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="determinate"></md-progress-linear>

    <md-content layout-padding>
        <md-card>
            <md-card-content>

                <md-list>

                    <!-- warning -->
                    <md-list-item>
                        <md-icon md-svg-icon="alert-outline"></md-icon>
                        <p>Please note that with a manual installation you will need to connect your device via the ethernet, the wifi can not be configured</p>
                    </md-list-item>

                    <!-- balena-etcher -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p>Download and install Balena-etcher, free SD card burning tool, from official website</p>
                        <md-button class="md-secondary md-raised md-primary" ng-href="https://www.balena.io/etcher/" target="_blank">balena.io</md-button>
                    </md-list-item>

                    <!-- iso -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p ng-if="!ctl.prefs.isoraspbian">Select Cleep version you want to install on your SD card</p>
                        <p ng-if="ctl.prefs.isoraspbian">Select distribution you want to install on your SD card</p>
                        <span class="md-secondary md-caption">
                            {{ctl.config.iso ? ctl.config.iso.label : 'No version selected'}}
                        </span>
                        <md-button ng-click="ctl.openIsoDialog()" class="md-secondary md-icon-button md-raised md-primary" ng-disabled="ctl.flashing">
                            <md-icon md-svg-icon="open-in-app"></md-icon>
                        </md-button>
                    </md-list-item>

                    <!-- download url -->
                    <md-list-item class="md-2-line">
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <div class="md-list-item-text">
                            <h3>Download selected Cleep image file</h3>
                            <p ng-if="ctl.config.iso.url">{{ctl.config.iso.url}}</p>
                            <p ng-if="!ctl.config.iso.url">No distribution selected</p>
                        </div>
                        <md-button class="md-secondary md-raised md-primary" ng-click="ctl.downloadIso()" ng-disabled="!ctl.config.iso.url">Download</md-button>
                    </md-list-item>

                    <!-- flash tips -->
                    <md-list-item>
                        <md-icon md-svg-icon="chevron-right"></md-icon>
                        <p>Now launch and use Balena-etcher software to flash your SD card</p>
                    </md-list-item>

                </md-list>

                <div style="text-align: center;">
                    <img src="images/etcher.png">
                </div>
                
            </md-card-content>
        </md-card>
    </md-content>

</div>
