<div layout="column" layout-fill>

        <!-- menu -->
        <md-toolbar flex="initial">
            <div class="md-toolbar-tools">
                <h2>
                    <md-icon md-svg-icon="sd"></md-icon>
                    Cleep installation
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="determinate"></md-progress-linear>

        <md-content layout-padding>

            <!-- preparation -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-svg-icon="pencil"></md-icon>
                            Preparation
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>

                    <!-- iso -->
                    <div layout="row" layout-align="space-between center" style="padding: 0 10px;">
                        <div>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <span ng-if="!ctl.__isos.withraspbianiso">Select Cleep version you want to install on your SD card</span>
                            <span ng-if="ctl.__isos.withraspbianiso">Select distribution you want to install on your SD card</span>
                        </div>
                        <div layout="row">
                            <md-input-container>
                                <label>Version</label>
                                <md-select ng-model="ctl.selectedIso" md-on-open="ctl.refreshIsos()" placeholder="Cleep version" class="md-no-underline" ng-disabled="ctl.flashing" required ng-model-options="{trackBy: '$value.id'}"> 
                                    <md-optgroup label="Cleep">
                                        <md-option ng-if="ctl.__isos.cleepisos===0" ng-disabled="true">No Cleep version found</md-option>
                                        <md-option ng-repeat="iso in ctl.isos | filter: {category:'cleep'}" ng-value="iso">
                                            {{iso.label}} ({{iso.timestamp | hrDate}})
                                        </md-option>
                                    </md-optgroup>
                                    <md-optgroup label="Raspbian" ng-if="ctl.__isos.withraspbianiso">
                                        <md-option ng-if="ctl.__isos.raspbianisos===0" ng-disabled="true">No Raspbian version found</md-option>
                                        <md-option ng-repeat="iso in ctl.isos | filter: {category:'raspbian'}" ng-value="iso">
                                            {{iso.label}} ({{iso.timestamp | hrDate}})
                                        </md-option>
                                    </md-optgroup>
                                    <md-optgroup label="Local" ng-if="ctl.__isos.withlocaliso">
                                        <md-option ng-repeat="iso in ctl.isos | filter: {category:'local'}" ng-click="ctl.selectLocalIso(iso)" ng-value="iso" ng-disabled="iso.url===null && !iso.selector">
                                            {{iso.label}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <!-- drive -->
                    <div layout="row" layout-align="space-between center" style="padding: 0 10px;">
                        <div>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <span>Plug your SD card or your USB card reader on your computer and select it from drives list</span>
                        </div>
                        <div layout="row">
                            <md-input-container>
                                <label>Drive</label>
                                <md-select ng-model="ctl.selectedDrive" md-on-open="ctl.refreshDrives()" placeholder="Drive" class="md-no-underline" ng-disabled="ctl.flashing" required>
                                    <md-option ng-if="ctl.drives.length===0" ng-disabled="true">No drive found</md-option>
                                    <md-option ng-repeat="drive in ctl.drives" ng-value="drive.path" ng-disabled="drive.readonly || drive.size<3600000000">
                                        {{drive.desc}} {{drive.readonly ? '[Readonly]' : ''}} {{drive.size<3600000000 ? '[Need at least 4Go drive]' : ''}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <!-- wifi choice -->
                    <div layout="row" layout-align="space-between center" style="padding: 0 10px;" ng-if="ctl.selectedIso.category=='cleep'">
                        <div>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <span>Choose way your device will connect to your network</span>
                        </div>
                        <div layout="row">
                            <md-input-container>
                                <label>Drive</label>
                                <md-select ng-model="ctl.selectedWifiChoice" placeholder="Network connection" class="md-no-underline" ng-disabled="ctl.flashing || ctl.selectedIso.category!='cleep'">
                                    <md-option ng-value="0">Wired connection</md-option>
                                    <md-option ng-value="1">Wifi on available network</md-option>
                                    <md-option ng-value="2">Wifi on hidden network</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <!-- wifi configuration -->
                    <div layout="row" layout-align="space-between center" style="padding: 0 10px;" ng-if="(ctl.selectedWifiChoice==1 || ctl.selectedWifiChoice==2) && ctl.selectedIso.category=='cleep'">
                        <div>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <span>Pre-configure wireless access</span>
                        </div>
                        <div layout="row">
                            <!-- without wifi adapter -->
                            <md-input-container ng-if="(!ctl.wifi.adapter && ctl.selectedWifiChoice==1) || ctl.selectedWifiChoice==2" class="no-error-spacer">
                                <label>Wifi network name</label>
                                <input type="text" ng-model="ctl.wifiNetworkName" ng-disabled="ctl.flashing"/>
                            </md-input-container>
                            <md-input-container ng-if="(!ctl.wifi.adapter && ctl.selectedWifiChoice==1) || ctl.selectedWifiChoice==2">
                                <label>Encryption</label>
                                <md-select ng-model="ctl.wifiNetworkEncryption" placeholder="Encryption" class="md-no-underline" ng-disabled="ctl.flashing">
                                    <md-option value="wpa2">WPA2</md-option>
                                    <md-option value="wpa">WPA</md-option>
                                    <md-option value="wep">WEP</md-option>
                                    <md-option value="unsecured">Unsecured</md-option>
                                </md-select>
                            </md-input-container>

                            <!-- with wifi adapter -->
                            <md-input-container ng-if="ctl.wifi.adapter && ctl.selectedWifiChoice==1">
                                <label>Wifi network</label>
                                <md-select ng-model="ctl.selectedWifiNetwork" md-on-open="ctl.refreshWifiNetworks()" placeholder="Wifi network" class="md-no-underline" ng-disabled="ctl.flashing">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-if="ctl.wifi.networks.length===0" ng-disabled="true">No wifi network found</md-option>
                                    <md-option ng-repeat="wifiNetwork in ctl.wifi.networks" ng-value="wifiNetwork">
                                        {{wifiNetwork.network}} ({{wifiNetwork.encryption}})
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <!-- wifi password -->
                            <div layout="row">
                                <md-input-container class="no-error-spacer">
                                    <label>Password</label>
                                    <input ng-attr-type="{{ctl.showPassword ? 'text' : 'password'}}" ng-model="ctl.wifiPassword" ng-disabled="ctl.flashing || ctl.wifiNetworkEncryption=='unsecured'">
                                </md-input-container>
                                <div style="padding-top:10px;">
                                    <md-button class="md-icon-button" ng-click="ctl.showPassword=!ctl.showPassword" ng-disabled="ctl.flashing || ctl.newNetwork.encryption=='unsecured'" aria-label="Show password">
                                        <md-icon md-svg-icon="eye" ng-if="!ctl.showPassword"></md-icon>
                                        <md-icon md-svg-icon="eye-off" ng-if="ctl.showPassword"></md-icon>
                                        <md-tooltip md-direction="left" ng-if="!ctl.showPassword">Show password</md-tooltip>
                                        <md-tooltip md-direction="left" ng-if="ctl.showPassword">Hide password</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- drive -->
                    <div layout="row" layout-align="space-between center" style="padding: 0 10px;">
                        <div>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <span>Click on button to install Cleep and wait end of process</span>
                        </div>
                        <div layout="row">
                            <md-button ng-click="ctl.startFlash()" ng-disabled="ctl.flashing || !ctl.isEtcherAvailable()" class="md-raised md-accent">
                                Install on selected drive
                            </md-button>
                        </div>
                    </div>

                </md-card-content>
            </md-card>

            <!-- installation -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-svg-icon="flag"></md-icon>
                            Installation progress
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row" layout-align="space-between center">
                        <div>
                            Status: 
                            <span ng-if="ctl.status.status==0">Idle</span>
                            <span ng-if="ctl.status.status==1">Downloading file {{ctl.status.percent}}% ({{ctl.status.eta}})</span>
                            <span ng-if="ctl.status.status==2">Downloading file ({{ctl.status.eta}})</span>
                            <span ng-if="ctl.status.status==3">Installing on drive {{ctl.status.percent}}% ({{ctl.status.eta}})</span>
                            <span ng-if="ctl.status.status==4">Validating operation {{ctl.status.percent}}% ({{ctl.status.eta}})</span>
                            <span ng-if="ctl.status.status==5">Requesting write permissions to system...</span>
                            <span ng-if="ctl.status.status==6">Installation completed. You can unplug your SD card.</span>
                            <span ng-if="ctl.status.status==7">Installation canceled</span>
                            <span ng-if="ctl.status.status==8">Internal error occured</span>
                            <span ng-if="ctl.status.status==9">Downloaded file size is invalid</span>
                            <span ng-if="ctl.status.status==10">Downloaded file seems to be corrupted</span>
                            <span ng-if="ctl.status.status==11">Problem during data copy on drive</span>
                            <span ng-if="ctl.status.status==12">Network error occured during file download</span>
                        </div>
                        <div>
                            <md-button ng-click="ctl.cancelFlash()" class="md-raised md-primary" ng-disabled="!ctl.flashing">Cancel</md-button>
                        </div>
                    </div>
                    <div style="padding-top:15px;">
                        Overall progress status:
                    </div>
                    <div>
                        <md-progress-linear md-mode="determinate" class="md-accent" value="{{ctl.status.total_percent}}" style="padding-top: 15px !important;"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="end center" style="padding-top:30px;">
                        Powered by&nbsp;<a href="https://etcher.io" target="_blank"><img style="height:14px;" src="images/etcher_logo_black.png"/></a>
                    </div>
                </md-card-content>
            </md-card>

            <!-- trouble -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon md-svg-icon="information-outline"></md-icon>
                            Having trouble?
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        If an error occured, you can try to install Cleep manually following <a href="#" ng-click="$event.preventDefault(); ctl.gotoManualInstall()">this page</a>.
                    </p>
                </md-card-content>
            </md-card>    

        </md-content>

    </div>

