<div layout="column" layout-fill>

        <!-- menu -->
        <md-toolbar flex="initial">
            <div class="md-toolbar-tools">
                <h2>
                    <md-icon md-svg-icon="sd"></md-icon>
                    Cleep installation
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="determinate"></md-progress-linear>

        <md-content layout-padding>

            <!-- preparation -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon class="rounded-icon" md-svg-icon="wrench"></md-icon>
                            Preparation
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <md-list>

                        <!-- iso -->
                        <md-list-item>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <p ng-if="!ctl.installService.settings.isoraspios">Select CleepOs version you want to install on your SD card</p>
                            <p ng-if="ctl.installService.settings.isoraspios">Select distribution you want to install on your SD card</p>
                            <span class="md-secondary md-caption">
                                {{ ctl.installService.installConfig.iso ? ctl.installService.installConfig.iso.filename : 'No version selected' }}
                            </span>
                            <md-button ng-click="ctl.openIsoDialog()" class="md-secondary md-raised md-primary md-no-text" ng-disabled="ctl.installService.installing">
                                <md-icon md-svg-icon="feature-search-outline"></md-icon>
                            </md-button>
                        </md-list-item>

                        <!-- drive -->
                        <md-list-item>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <p>Plug your SD card or your USB card reader on your computer and select it from drives list</p>
                            <span class="md-secondary md-caption">
                                {{ctl.installService.installConfig.drive ? ctl.installService.installConfig.drive.description : 'No drive selected'}}
                            </span>
                            <md-button ng-click="ctl.openDriveDialog()" class="md-secondary md-raised md-primary md-no-text" ng-disabled="ctl.installService.installing">
                                <md-icon md-svg-icon="feature-search-outline"></md-icon>
                            </md-button>
                        </md-list-item>

                        <!-- network choice -->
                        <md-list-item ng-if="ctl.installService.installConfig.iso.category==='cleepos'">
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <p>Choose way your device will connect to your network</p>
                            <md-input-container class="md-secondary">
                                <md-select ng-model="ctl.installService.installConfig.network"
                                    placeholder="Network connection"
                                    class="md-no-underline"
                                    ng-disabled="ctl.installService.installing">
                                    <md-option ng-value="0">Wired connection</md-option>
                                    <md-option ng-value="1">Wifi on available network</md-option>
                                    <md-option ng-value="2">Wifi on hidden network</md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>

                        <!-- wifi configuration -->
                        <md-list-item ng-if="(ctl.installService.installConfig.network===1 || ctl.installService.installConfig.network===2) && ctl.installService.installConfig.iso.category=='cleepos'"> 
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <p>Wifi configuration</p>
                            <span class="md-secondary md-caption">
                                {{ ctl.installService.installConfig.wifi ? ctl.installService.installConfig.wifi.network : 'Wifi not configured' }}
                            </span>
                            <md-button ng-click="ctl.openWifiDialog()" class="md-secondary md-raised md-primary md-no-text" ng-disabled="ctl.installService.installing">
                                <md-icon md-svg-icon="feature-search-outline"></md-icon>
                            </md-button>
                        </md-list-item>

                        <!-- install button -->
                        <md-list-item>
                            <md-icon md-svg-icon="chevron-right"></md-icon>
                            <p>Click on button to install Cleep and follow install process below</p>
                            <md-button ng-click="ctl.startInstall()" ng-disabled="ctl.installService.installing || !ctl.updateService.softwareVersions.flashTool" class="md-secondary md-raised md-accent">
                                <md-icon md-svg-icon="sd"></md-icon>
                                Install
                            </md-button>
                        </md-list-item>

                    </md-list>

                </md-card-content>
            </md-card>

            <!-- installation -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon class="rounded-icon" md-svg-icon="flag"></md-icon>
                            Installation progress
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-if="ctl.installService.installProgress.error.length === 0" layout="row" layout-align="space-between center">
                        <div>
                            <span ng-if="ctl.installService.installProgress.step === 'idle' && !ctl.installService.installing && !ctl.installService.installProgress.terminated">
                                No installation running
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'idle' && ctl.installService.installing">
                                Preparing installation...
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'idle' && !ctl.installService.installing && ctl.installService.installProgress.terminated">
                                Installation terminated. If no error insert SDCard on your raspberry and power it up.
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'downloading'">
                                Step 1/3: downloading files (ETA {{ ctl.installService.installProgress.eta | hrSeconds }})
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'privileges'">
                                Step 2/3: requesting permissions to write on drive
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'flashing'">
                                Step 2/3: flashing drive
                                <span ng-if="ctl.installService.installProgress.eta >= 0">
                                    (ETA {{ ctl.installService.installProgress.eta | hrSeconds }})
                                </span>
                            </span>
                            <span ng-if="ctl.installService.installProgress.step === 'validating'">
                                Step 3/3: validating operation
                                <span ng-if="ctl.installService.installProgress.eta >= 0">
                                    (ETA {{ ctl.installService.installProgress.eta | hrSeconds }})
                                </span>
                            </span>
                        </div>
                    </div>
                    <div ng-if="ctl.installService.installProgress.error.length > 0">
                        Installation failed: {{ ctl.installService.installProgress.error }}
                    </div>
                    <div>
                        <md-progress-linear md-mode="determinate" class="md-accent" value="{{ctl.installService.installProgress.percent || 0}}" style="padding-top: 15px !important;"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="end center" style="padding-top:30px;">
                        Powered by&nbsp;<a href="https://www.balena.io/etcher" target="_blank"><img style="height:25px;" src="images/balena-etcher.png"/></a>
                    </div>
                </md-card-content>
            </md-card>

            <!-- trouble -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon class="rounded-icon" md-svg-icon="bug"></md-icon>
                            Having trouble?
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        If an error occured, you can try to install CleepOs manually following <a href="#" ng-click="$event.preventDefault(); ctl.gotoManualInstall()">this tutorial</a>.
                    </p>
                </md-card-content>
            </md-card>    

        </md-content>

    </div>

