<md-dialog aria-label="Version selection" flex="40">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Version selection</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctl.closeModal()">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="height: 450px;">

        <!-- loader -->
        <div layout="column" layout-align="center center" layout-fill layout-margin ng-if="ctl.loading">
            <div>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div>
                <span>Fetching available versions...</span>
            </div>
        </div>

        <md-list ng-show="!ctl.loading" style="padding: 0px;">

            <!-- cleep -->
            <md-subheader class="md-no-sticky">
                Cleep versions
            </md-subheader>
            <md-list-item ng-if="ctl.cleepisos===0" class="md-2-line">
                <div class="md-list-item-text">
                    <h3>No Cleep version found</h3>
                    <p>You surely reach free Github api requests amount. Please retry next hour.</p>
                </div>
            </md-list-item>
            <md-list-item ng-if="ctl.installService.isosInfo.cleepos" ng-click="ctl.selectRemoteIso(ctl.installService.isosInfo.cleepos)">
                <md-icon md-svg-icon="circle-small"></md-icon>
                <p>
                    {{ctl.installService.isosInfo.cleepos.label}} - 
                    {{ctl.installService.isosInfo.cleepos.date | date:'yyyy/MM/dd'}} - 
                    {{ctl.installService.isosInfo.cleepos.size | hrBytes}}
                </p>
            </md-list-item>

            <!-- raspios -->
            <md-subheader ng-if="ctl.installService.settings.isoraspios" class="md-no-sticky">
                Latest Raspios
            </md-subheader>
            <md-list-item ng-if="ctl.installService.settings.isoraspios && ctl.installService.isosInfo.raspios.full" ng-click="ctl.selectRemoteIso(ctl.installService.isosInfo.raspios.full)">
                <md-icon md-svg-icon="circle-small"></md-icon>
                <p>
                    {{ctl.installService.isosInfo.raspios.full.label}} - 
                    {{ctl.installService.isosInfo.raspios.full.date | date:'yyyy/MM/dd'}} 
                </p>
            </md-list-item>
            <md-list-item ng-if="ctl.installService.settings.isoraspios && ctl.installService.isosInfo.raspios.lite" ng-click="ctl.selectRemoteIso(ctl.installService.isosInfo.raspios.lite)">
                <md-icon md-svg-icon="circle-small"></md-icon>
                <p>
                    {{ctl.installService.isosInfo.raspios.lite.label}} - 
                    {{ctl.installService.isosInfo.raspios.lite.date | date:'yyyy/MM/dd'}}
                </p>
            </md-list-item>

            <!-- local iso -->
            <md-subheader ng-if="ctl.installService.settings.isolocal" class="md-no-sticky">
                Local iso
            </md-subheader>
            <md-list-item ng-if="ctl.installService.settings.isolocal" ng-click="ctl.selectLocalIso()">
                <md-icon md-svg-icon="circle-small"></md-icon>
                <p>Click to select iso file from your computer</p>
            </md-list-item>

        </md-list>
    </md-dialog-content>

</md-dialog>
