<div ng-controller="devicesController as ctl" layout="column" layout-fill>

    <md-toolbar flex="initial" class="fix-toolbar">
        <div class="md-toolbar-tools">
            <h2>
                <md-icon md-svg-icon="cellphone"></md-icon>
                Cleep devices
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="determinate" value="100"></md-progress-linear>

    <md-content>

        <!-- loader -->
        <div layout="column" layout-align="center center" ng-if="ctl.loading">
            <div>   
                <br/><br/><br/>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <br/><br/><br/>
            </div>
        </div>

        <!-- devices list -->
        <md-list ng-if="!ctl.loading">

            <!-- unconfigured devices -->
            <md-subheader ng-if="ctl.unconfigured>0" class="md-no-sticky">Unconfigured devices</md-subheader>
            <md-list-item ng-repeat="device in ctl.devices | filter: {configured:false}" ng-if="ctl.unconfigured>0" ng-click="ctl.openDevicePage(device)">
                <md-icon ng-if="device.online" md-svg-icon="cellphone-link" class="icon-margin">
                    <md-tooltip md-direction="right">Unconfigured</md-tooltip>
                </md-icon>
                <md-icon ng-if="!device.online" md-svg-icon="cellphone-link-off" class="icon-margin">
                    <md-tooltip md-direction="right">Offline</md-tooltip>
                </md-icon>
                <p>Unconfigured device</p>
            </md-list-item>

            <md-divider ng-if="ctl.unconfigured>0"></md-divider>

            <!-- configured devices -->
            <md-subheader>Devices</md-subheader>
            <md-list-item ng-repeat="device in ctl.devices | filter: {configured:true}" ng-click="ctl.openDevicePage(device)">
                <md-icon ng-if="device.online" md-svg-icon="cellphone-link" class="icon-margin">
                    <md-tooltip md-direction="right">Online</md-tooltip>
                </md-icon>
                <md-icon ng-if="!device.online" md-svg-icon="cellphone-link-off" class="icon-margin">
                    <md-tooltip md-direction="right">Offline</md-tooltip>
                </md-icon>
                <p>{{device.hostname}}</p>
            </md-list-item>

            <!-- no device -->
            <md-list-item ng-if="ctl.configured==0">
                <md-icon md-svg-icon="close-circle-outline" class="no-device icon-margin"></md-icon>
                <p class="no-device">No device found</p>
            </md-list-item>

            <md-divider></md-divider>

        </md-list>

    </md-content>

</div>

